<a href="https://colab.research.google.com/github/RuiyuHuang50/TIP102_Solution_Codepath/blob/main/Unit2_session1_standard2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Problem 1: Space Crew
Given two lists of length n, crew and position, map the space station crew to their position on board the international space station.

Each crew member crew[i] has job position[i] on board, where 0 <= i < n and len(crew) == len(position).

Hint: Introduction to dictionaries

**Zip object return tuple, not list. **

In [ ]:
def space_crew(crew, position):
    set = {}
    for i in range(len(crew)):
      set[crew[i]] = position[i]
    return set
    #set = list(zip(crew, position))
exp70_crew = ["Andreas Mogensen", "Jasmin Moghbeli", "Satoshi Furukawa", "Loral O'Hara", "Konstantin Borisov"]
exp70_positions = ["Commander", "Flight Engineer", "Flight Engineer", " Flight Engineer", "Flight Engineer"]

ax3_crew = ["Michael Lopez-Alegria", "Walter Villadei", "Alper Gezeravci", "Marcus Wandt"]
ax3_positions = ["Commander", "Mission Pilot", "Mission Specialist", "Mission Specialist"]

print(space_crew(exp70_crew, exp70_positions))
print(space_crew(ax3_crew, ax3_positions))

{'Andreas Mogensen': 'Commander', 'Jasmin Moghbeli': 'Flight Engineer', 'Satoshi Furukawa': 'Flight Engineer', "Loral O'Hara": ' Flight Engineer', 'Konstantin Borisov': 'Flight Engineer'}
{'Michael Lopez-Alegria': 'Commander', 'Walter Villadei': 'Mission Pilot', 'Alper Gezeravci': 'Mission Specialist', 'Marcus Wandt': 'Mission Specialist'}

# problem 2

In [ ]:
def planet_lookup(planet_name):
  planetary_info = {
    "Mercury": {
        "Moons": 0,
        "Orbital Period": 88
    },
    "Earth": {
        "Moons": 1,
        "Orbital Period": 365.25
    },
    "Mars": {
        "Moons": 2,
        "Orbital Period": 687
    },
    "Jupiter": {
        "Moons": 79,
        "Orbital Period": 10592
    }
  }
  if planet_name not in planetary_info:
    return " Sorry, I have no data on that planet"
  else:
    orbital_period = planetary_info[planet_name].get("Orbital Period", "N/A")
    moons = planetary_info[planet_name].get("Moons", "N/A")
    return (f"Planet {planet_name} has an orbital period of {orbital_period} Earth days and has {moons} moons." )


print(planet_lookup("Jupiter"))
print(planet_lookup("Pluto"))

Planet Jupiter has an orbital period of 10592 Earth days and has 79 moons.
 Sorry, I have no data on that planet

There are two primary ways to access values in a Python dictionary:

1.  **Using square brackets `[]`:** This is the most common and direct way to access a value using its key.

In [ ]:
# Example dictionary
my_dict = {"apple": 1, "banana": 2, "cherry": 3}

# Accessing a value using square brackets
apple_value = my_dict["apple"]
print(f"Value for 'apple': {apple_value}")

# If the key does not exist, this will raise a KeyError
# try:
#     grape_value = my_dict["grape"]
# except KeyError as e:
#     print(f"Error: {e}")

Value for 'apple': 1

2.  **Using the `.get()` method:** This method is a safer way to access values as it allows you to provide a default value to return if the key is not found, preventing a `KeyError`.

In [ ]:
# Example dictionary
my_dict = {"apple": 1, "banana": 2, "cherry": 3}

# Accessing a value using the .get() method
banana_value = my_dict.get("banana")
print(f"Value for 'banana': {banana_value}")

# Using .get() with a default value for a non-existent key
grape_value_safe = my_dict.get("grape", "Key not found")
print(f"Value for 'grape' (using .get()): {grape_value_safe}")

# Using .get() without a default value for a non-existent key returns None
mango_value_none = my_dict.get("mango")
print(f"Value for 'mango' (using .get() without default): {mango_value_none}")

Value for 'banana': 2
Value for 'grape' (using .get()): Key not found
Value for 'mango' (using .get() without default): None

Both methods are useful, but `.get()` is often preferred when you're not absolutely sure if a key exists, as it provides a way to handle missing keys gracefully.

In [ ]:
def planet_lookup(planets, planet_name):
    if planet_name in planets:
        planet_info = planets[planet_name]
        orbital_period = planet_info["Orbital Period"]
        moons = planet_info["Moons"]
        return f"Planet {planet_name} has an orbital period of {orbital_period} Earth days and has {moons} moons."
    else:
        return "Sorry, I have no data on that planet."
planetary_info = {
    "Mercury": {
        "Moons": 0,
        "Orbital Period": 88
    },
    "Earth": {
        "Moons": 1,
        "Orbital Period": 365.25
    },
    "Mars": {
        "Moons": 2,
        "Orbital Period": 687
    },
    "Jupiter": {
        "Moons": 79,
        "Orbital Period": 10592
    }
}

print(planet_lookup(planetary_info,"Jupiter"))
print(planet_lookup(planetary_info,"Pluto"))

Planet Jupiter has an orbital period of 10592 Earth days and has 79 moons.
Sorry, I have no data on that planet.

#problem 3 breathing room
As part of your job as an astronaut, you need to perform routine safety checks. You are given a dictionary oxygen_levels which maps room names to current oxygen levels and two integers min_val and max_val specifying the acceptable range of oxygen levels. Return a list of room names whose values are outside the range defined by min_val and max_val (inclusive).

* Remember the output is a list

In [ ]:

def check_oxygen_levels(oxygen_levels, min_val, max_val):
  output = []
  for place in oxygen_levels:
    place_name = oxygen_levels[place]
    if place_name < min_val or place_name > max_val:
      output.append(place)
  return output

oxygen_levels = {
    "Command Module": 21,
    "Habitation Module": 22,
    "Laboratory Module": 19,
    "Airlock": 22,
    "Storage Bay": 18
}

min_val = 19
max_val = 22

print(check_oxygen_levels(oxygen_levels, min_val, max_val))

['Storage Bay']

#Problem 5

In [ ]:
from collections import Counter

def get_winner(votes):
  vote_counts = Counter(votes)
  # Find the item with the maximum count
  # most_common(1) returns a list of the single most common element and its count
  winner = vote_counts.most_common(1)[0][0]
  return winner

votes1 = ["Colbert", "Serenity", "Serenity", "Tranquility", "Colbert", "Colbert"]
votes2 = ["Colbert", "Serenity", "Serenity", "Tranquility", "Colbert"]

print(get_winner(votes1))
print(get_winner(votes2))

Colbert
Colbert

The line winner = vote_counts.most_common(1)[0][0] is used to find the element with the highest frequency in the vote_counts Counter object. Here's how it works:

vote_counts.most_common(1): The most_common() method of a Counter object returns a list of the most common elements and their counts, in descending order. By passing 1 as the argument, it returns a list containing only the single most common element and its count. The output of this part is a list of tuples, where each tuple is (element, count). For example, if "Colbert" had the most votes, vote_counts.most_common(1) would return [('Colbert', 3)].
[0]: This accesses the first (and in this case, only) element of the list returned by most_common(1). So, from [('Colbert', 3)], it selects the tuple ('Colbert', 3).
[0]: This accesses the first element of the tuple obtained in the previous step. From the tuple ('Colbert', 3), it selects the element at index 0, which is 'Colbert'.
Therefore, winner is assigned the value of the most common element (the winner of the vote).

In [ ]:
def get_winner(votes):
    # Step 1: Initialize a frequency dictionary
    vote_count = {}

    # Step 2: Count the votes
    for vote in votes:
        if vote in vote_count:
            vote_count[vote] += 1
        else:
            vote_count[vote] = 1

    # Step 3: Find the suggestion with the highest count
    max_votes = 0
    winner = ""
    for suggestion, count in vote_count.items():
        if count > max_votes:
            max_votes = count
            winner = suggestion

    return winner
votes1 = ["Colbert", "Serenity", "Serenity", "Tranquility", "Colbert", "Colbert"]
votes2 = ["Colbert", "Serenity", "Serenity", "Tranquility", "Colbert"]

print(get_winner(votes1))
print(get_winner(votes2))

Colbert
Colbert

### Example 1: Counting Character Frequencies in a String

This problem demonstrates how to use a frequency map (dictionary) to count the occurrences of each character in a given string.

In [ ]:
from collections import Counter

def count_char_frequencies(text):
  """Counts the frequency of each character in a string using a frequency map."""
  # Using collections.Counter is a convenient way to create a frequency map
  char_counts = Counter(text)
  return char_counts

# Example usage
string1 = "hello world"
string2 = "programming is fun"

print(f"Frequency map for '{string1}': {count_char_frequencies(string1)}")
print(f"Frequency map for '{string2}': {count_char_frequencies(string2)}")

Frequency map for 'hello world': Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})
Frequency map for 'programming is fun': Counter({'r': 2, 'g': 2, 'm': 2, 'i': 2, 'n': 2, ' ': 2, 'p': 1, 'o': 1, 'a': 1, 's': 1, 'f': 1, 'u': 1})

### Example 2: Checking for Anagrams

This problem shows how to use frequency maps to determine if two strings are anagrams of each other. The idea is that if two strings are anagrams, their frequency maps should be identical.

In [ ]:
from collections import Counter

def are_anagrams(str1, str2):
  """Checks if two strings are anagrams using frequency maps."""
  # If the lengths are different, they cannot be anagrams
  if len(str1) != len(str2):
    return False

  # Create frequency maps for both strings
  freq_map1 = Counter(str1)
  freq_map2 = Counter(str2)

  # Anagrams will have identical frequency maps
  return freq_map1 == freq_map2

# Example usage
word1 = "listen"
word2 = "silent"
word3 = "hello"
word4 = "world"

print(f"'{word1}' and '{word2}' are anagrams: {are_anagrams(word1, word2)}")
print(f"'{word3}' and '{word4}' are anagrams: {are_anagrams(word3, word4)}")

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

#session2

##standard1

###problem1

In [ ]:
def most_endangered(species_list):
  lowest_population = float('inf')
  for species in species_list:
    if species.get('population') < lowest_population:
      lowest_population = species.get('population')
      endangered_species = species.get('name')
  return endangered_species

species_list = [
    {"name": "Amur Leopard",
     "habitat": "Temperate forests",
     "population": 84
    },
    {"name": "Javan Rhino",
     "habitat": "Tropical forests",
     "population": 72
    },
    {"name": "Vaquita",
     "habitat": "Marine",
     "population": 10
    }
]

print(most_endangered(species_list))

Vaquita

.get()need to return the value

###problem2

In [ ]:
def count_endangered_species(endangered_species, observed_species):
  count ={}
  for c in observed_species:
    if c in endangered_species:
      if c in count:
        count[c]+=1
      else:
        count[c]=1

  return sum(count.values())
  #return count.values


endangered_species1 = "aA"
observed_species1 = "aAAbbbb"

endangered_species2 = "z"
observed_species2 = "ZZ"

print(count_endangered_species(endangered_species1, observed_species1))
print(count_endangered_species(endangered_species2, observed_species2))

3
0

In [ ]:
def count_endangered_species(endangered_species, observed_species):
  count = 0
  for c in observed_species:
    if c in endangered_species:
      count += 1
  return count

endangered_species1 = "aA"
observed_species1 = "aAAbbbb"

endangered_species2 = "z"
observed_species2 = "ZZ"

print(count_endangered_species(endangered_species1, observed_species1))
print(count_endangered_species(endangered_species2, observed_species2))

3
0

###problem3
?

In [ ]:
def navigate_research_station(station_layout, observations):
  return sum(abs(i - j) for i, c in enumerate(station_layout) for j, d in enumerate(observations) if c == d)



station_layout1 = "pqrstuvwxyzabcdefghijklmno"
observations1 = "wildlife"

station_layout2 = "abcdefghijklmnopqrstuvwxyz"
observations2 = "cba"

print(navigate_research_station(station_layout1, observations1))
print(navigate_research_station(station_layout2, observations2))

45
4

###problem4
In your work with a wildlife conservation database, you have two lists: observed_species and priority_species. The elements of priority_species are distinct, and all elements in priority_species are also in observed_species.

Write a function prioritize_observations() that sorts the elements of observed_species such that the relative ordering of items in observed_species matches that of priority_species. Species that do not appear in priority_species should be placed at the end of observed_species in ascending order.

In [ ]:
from collections import Counter
def prioritize_observations(observed_species, priority_species):
    cnt = Counter(observed_species)
    priority_order = {species: i for i, species in enumerate(priority_species)}

    priority_list = []  # Store priority species in correct order
    non_priority_list = []  # Store species not in priority_species

    for species in priority_species:
        if species in cnt:
            priority_list.extend([species]*cnt[species])
            del cnt[species]  # Preserve priority order

    remianing_species = sorted(cnt.keys())

    # Merge both lists using extend()
    priority_list.extend(remianing_species)

    return priority_list



observed_species1 = ["ðŸ¯", "ðŸ¦", "ðŸ¦Œ", "ðŸ¦", "ðŸ¯", "ðŸ˜", "ðŸ", "ðŸ¦‘", "ðŸ»", "ðŸ¯", "ðŸ¼"]
priority_species1 = ["ðŸ¯", "ðŸ¦Œ", "ðŸ˜", "ðŸ¦"]

observed_species2 = ["bluejay", "sparrow", "cardinal", "robin", "crow", "robin"]
priority_species2 = ["cardinal", "sparrow", "bluejay"]

print(prioritize_observations(observed_species1, priority_species1))
print(prioritize_observations(observed_species2, priority_species2))

['ðŸ¯', 'ðŸ¯', 'ðŸ¯', 'ðŸ¦Œ', 'ðŸ˜', 'ðŸ¦', 'ðŸ¦', 'ðŸ', 'ðŸ»', 'ðŸ¼', 'ðŸ¦‘']
['cardinal', 'sparrow', 'bluejay', 'crow', 'robin']

###problem 5
You are given a 0-indexed integer array species_populations of even length, where each element represents the population of a particular species in a wildlife reserve.

As long as species_populations is not empty, you must repetitively:

Find the species with the minimum population and remove it.
Find the species with the maximum population and remove it.
Calculate the average population of the two removed species.
The average of two numbers a and b is (a+b)/2.

For example, the average of 200 and 300 is (200+300)/2=250.

Return the number of distinct averages calculated using the above process.

Note that when there is a tie for a minimum or maximum population, any can be removed.

In [ ]:
def distinct_averages(species_populations):
  species_populations.sort()
  averages = set()
  while species_populations:
    min_pop = species_populations.pop(0)
    max_pop = species_populations.pop(-1)

    average = (min_pop+max_pop)//2
    averages.add(average)
  return len(averages)


species_populations1 = [4,1,4,0,3,5]
species_populations2 = [1,100]

print(distinct_averages(species_populations1))
print(distinct_averages(species_populations2))

2
1

In [ ]:
# Example of initializing min_pop and max_pop with infinity
min_pop_initialized = float('inf')
max_pop_initialized = float('-inf')

print(f"Initial min_pop: {min_pop_initialized}")
print(f"Initial max_pop: {max_pop_initialized}")

# You would then iterate through your list and update min_pop and max_pop
species_populations = [4, 1, 4, 0, 3, 5]

current_min = float('inf')
current_max = float('-inf')

for population in species_populations:
    if population < current_min:
        current_min = population
    if population > current_max:
        current_max = population

print(f"Minimum population found: {current_min}")
print(f"Maximum population found: {current_max}")

Initial min_pop: inf
Initial max_pop: -inf
Minimum population found: 0
Maximum population found: 5

###problem 6
* Understand
Input: two strings
Output: integer, the max number of copies of target species
* Plan : Count the frequency of each species in raised species-- initialize max_copies to infinity-- for each species in target_species, calculate how many items could be removed from the raised_species-- return the mini value from the above calculations

In [ ]:
from collections import Counter
def max_species_copies(raised_species, target_species):
  cnt1 = Counter(raised_species)
  cnt2 = Counter(target_species)
  max_copies = float('inf')
  for species in cnt2:
    if species in cnt1:
      # The number of copies is limited by the minimum ratio of available species
      # in raised_species to the required species in target_species
      max_copies = min(max_copies, cnt1[species] // cnt2[species])
    else:
      return 0  # Cannot form target_species if a required species is missing
  return max_copies


raised_species1 = "abcba"
target_species1 = "abc"
print(max_species_copies(raised_species1, target_species1))

raised_species2 = "aaaaabbbbcc"
target_species2 = "abc"
print(max_species_copies(raised_species2, target_species2))

1
2

For example, if you have 5 'a's in raised_species (cnt1['a'] = 5) and target_species requires 2 'a's (cnt2['a'] = 2), then cnt1['a'] // cnt2['a'] would be 5 // 2 = 2. This means you have enough 'a's to form 2 copies of the target_species, with one 'a' left over.

###problem 7
input: string
output: integer, string number of unique species counts after replacing the non-digit c with a space and split the result

iterate the string and replace the string letter of space--split the string--count the frequency of the string and then give the len of string

In [ ]:
from collections import Counter
def count_unique_species(ecosystem_data):
  modified_string =[]
  for c in ecosystem_data:
    if c.isdigit():
      modified_string.append(c)
    else:
      modified_string.append(' ')
  modified_string=''.join(modified_string)

  counts = modified_string.split()
  #need to be unique digit
  # unique_counts = set()
  # for c in counts:
  #   if c:
  #     unique_counts.add(int(c))
  unique_counts = Counter(int(c) for c in counts)
  return len(unique_counts)


ecosystem_data1 = "f123de34g8hi34"
ecosystem_data2 = "species1234forest234"
ecosystem_data3 = "x1y01z001"

print(count_unique_species(ecosystem_data1))
print(count_unique_species(ecosystem_data2))
print(count_unique_species(ecosystem_data3))

3
2
1

In [ ]:
def count_unique_species(ecosystem_data):
    # Replace all non-digit characters with spaces
    modified_data = []
    for char in ecosystem_data:
        if char.isdigit():
            modified_data.append(char)
        else:
            modified_data.append(' ')
    modified_data = ''.join(modified_data)

    # Split the resulting string by spaces to get all species counts
    counts = modified_data.split()

    # Convert counts to integers to remove leading zeros and get unique counts
    unique_counts = set()
    for count in counts:
        if count:  # Ensure the count is not an empty string
            unique_counts.add(int(count))

    # Return the number of unique counts
    return len(unique_counts)


ecosystem_data1 = "f123de34g8hi34"
ecosystem_data2 = "species1234forest234"
ecosystem_data3 = "x1y01z001"

print(count_unique_species(ecosystem_data1))
print(count_unique_species(ecosystem_data2))
print(count_unique_species(ecosystem_data3))

3
2
1

**.isdigit()**

In [ ]:
string1 = "12345"
string2 = "123a4"
string3 = " "
string4 = ""

print(f"'{string1}'.isdigit(): {string1.isdigit()}")
print(f"'{string2}'.isdigit(): {string2.isdigit()}")
print(f"'{string3}'.isdigit(): {string3.isdigit()}")
print(f"'{string4}'.isdigit(): {string4.isdigit()}")

'12345'.isdigit(): True
'123a4'.isdigit(): False
' '.isdigit(): False
''.isdigit(): False

In [ ]:
string1 = "HelloWorld"
string2 = "Hello World"
string3 = "12345"
string4 = ""

print(f"'{string1}'.isalpha(): {string1.isalpha()}")
print(f"'{string2}'.isalpha(): {string2.isalpha()}")
print(f"'{string3}'.isalpha(): {string3.isalpha()}")
print(f"'{string4}'.isalpha(): {string4.isalpha()}")

'HelloWorld'.isalpha(): True
'Hello World'.isalpha(): False
'12345'.isalpha(): False
''.isalpha(): False

**Change the string's letter to space and keep the digit **

In [ ]:
def replace_letters_with_spaces(input_string):
  """Replaces all letter characters in a string with spaces, keeping digits."""
  new_string = ""
  for char in input_string:
    if char.isdigit():
      new_string += char
    else:
      new_string += " "
  return new_string

# Example usage
string1 = "f123de34g8hi34"
string2 = "species1234forest234"
string3 = "x1y01z001"
string4 = "HelloWorld123"


print(f"Original string: '{string1}'")
print(f"Modified string: '{replace_letters_with_spaces(string1)}'")

print(f"\nOriginal string: '{string2}'")
print(f"Modified string: '{replace_letters_with_spaces(string2)}'")

print(f"\nOriginal string: '{string3}'")
print(f"Modified string: '{replace_letters_with_spaces(string3)}'")

print(f"\nOriginal string: '{string4}'")
print(f"Modified string: '{replace_letters_with_spaces(string4)}'")

Original string: 'f123de34g8hi34'
Modified string: ' 123  34 8  34'

Original string: 'species1234forest234'
Modified string: '       1234      234'

Original string: 'x1y01z001'
Modified string: ' 1 01 001'

Original string: 'HelloWorld123'
Modified string: '          123'

When you use ''.join(some_list), you are joining the elements ofsome_list` with an empty string as the separator. This effectively concatenates all the elements together without any characters in between them.

In [ ]:
# Example with a list of strings
list_of_chars = ['h', 'e', 'l', 'l', 'o']
joined_string = ' '.join(list_of_chars)
print(f"Joining {list_of_chars} with '': '{joined_string}'")

# Example with a different separator
words = ['Hello', 'World']
joined_with_space = ' '.join(words)
print(f"Joining {words} with ' ': '{joined_with_space}'")

# Example with a tuple
tuple_of_chars = ('P', 'y', 't', 'h', 'o', 'n')
joined_from_tuple = ''.join(tuple_of_chars)
print(f"Joining {tuple_of_chars} with '': '{joined_from_tuple}'")

# Example with a string (iterates over characters)
a_string = "Colab"
joined_from_string = '-'.join(a_string)
print(f"Joining '{a_string}' with '-': '{joined_from_string}'")

Joining ['h', 'e', 'l', 'l', 'o'] with '': 'h e l l o'
Joining ['Hello', 'World'] with ' ': 'Hello World'
Joining ('P', 'y', 't', 'h', 'o', 'n') with '': 'Python'
Joining 'Colab' with '-': 'C-o-l-a-b'

###problem 8
input:list of list
output:integer of the number which is paired

In [ ]:
def num_equiv_species_pairs(species_pairs):
  cnt = 0
  for i in range (len(species_pairs)):
    for j in range(i+1, len(species_pairs)):
      if (species_pairs[i][0] == species_pairs[j][1] and species_pairs[i][1] == species_pairs[j][0]) or (species_pairs[i][0] == species_pairs[j][0] and species_pairs[i][1] == species_pairs[j][1]):
        cnt+=1
  return cnt

species_pairs1 = [[1,2],[2,1],[3,4],[5,6]]
species_pairs2 = [[1,2],[1,2],[1,1],[1,2],[2,2]]

print(num_equiv_species_pairs(species_pairs1))
print(num_equiv_species_pairs(species_pairs2))


#On2

1
3

In [ ]:
from collections import Counter
def num_equiv_species_pairs(species_pairs):
  cnt = Counter(tuple(sorted(species)) for species in species_pairs)
  pairs = 0
  for c in cnt.values():
      if c > 1:
          pairs += c * (c - 1) // 2

  return pairs

species_pairs1 = [[1,2],[2,1],[3,4],[5,6]]
species_pairs2 = [[1,2],[1,2],[1,1],[1,2],[2,2]]

print(num_equiv_species_pairs(species_pairs1))
print(num_equiv_species_pairs(species_pairs2))

1
3

The line normalized = tuple(sorted(pair)) is used to create a consistent representation for each species pair, regardless of the order of the species within the pair.

Here's how it works:

sorted(pair): The sorted() function takes an iterable (in this case, a list representing a species pair, like [1, 2] or [2, 1]) and returns a new list with the elements in ascending order. So, sorted([1, 2]) would return [1, 2], and **sorted([2, 1]) would also return [1, 2].**
tuple(...): The tuple() function converts the sorted list into a tuple. A tuple is used here because it is immutable, meaning its contents cannot be changed after it's created. This is important because we are using these normalized pairs as keys in the count dictionary, and dictionary keys must be immutable.

**Ask yourself these questions:**
1. Do I need to modify the collection after sorting? If yes, use list(). If no, tuple() or set() might be options.
2. Does the order of elements matter? If yes, use list() or tuple(). If no, set() might be suitable (but remember sets are unordered).
3. Do I need to store unique elements only? If yes, set() is the primary choice, but you might sort the original list/tuple first if you want to process unique elements in order.
4. Do I need the result to be immutable (e.g., for a dictionary key or set element)? If yes, use tuple().

In [ ]:
'''
For a species pair that appears n times, the number of equivalent pairs that can be formed is given by the formula the formula : c * (c - 1) // 2

'''

In [ ]:
from collections import Counter

def num_equiv_species_pairs(species_pairs):
  """
  Counts the number of equivalent species pairs in a list of pairs.

  Args:
    species_pairs: A list of lists, where each inner list represents a species pair.

  Returns:
    The number of equivalent species pairs.
  """
  # Use Counter to count occurrences of each normalized species pair
  # Normalizing ensures that the order of species within a pair doesn't matter
  # (e.g., [1, 2] and [2, 1] are treated as the same pair)
  count = Counter(tuple(sorted(pair)) for pair in species_pairs)

  # Calculate the number of equivalent pairs
  # For each normalized pair that appears 'c' times, the number of equivalent pairs
  # is the number of combinations of choosing 2 pairs from 'c' pairs, which is c * (c - 1) // 2
  num_pairs = 0
  for c in count.values():
    if c > 1:
      num_pairs += c * (c - 1) // 2

  return num_pairs

# Example usage
species_pairs1 = [[1,2],[2,1],[3,4],[5,6]]
species_pairs2 = [[1,2],[1,2],[1,1],[1,2],[2,2]]

print(num_equiv_species_pairs(species_pairs1))
print(num_equiv_species_pairs(species_pairs2))

Number of equivalent pairs in species_pairs1: 1
Number of equivalent pairs in species_pairs2: 3

##standard 2

###problem1

In [ ]:
def remove_low_rated_destinations(destinations, rating_threshold):
  result ={}
  for destination, rating in destinations.items():
    if destinations[destination] >= rating_threshold:
      result[destination] = rating
  return result


destinations = {"Paris": 4.8, "Berlin": 3.5, "Addis Ababa": 4.9, "Moscow": 2.8}
destinations2 = {"BogotÃ¡": 4.8, "Kansas City": 3.9, "Tokyo": 4.5, "Sydney": 3.0}

print(remove_low_rated_destinations(destinations, 4.0))
print(remove_low_rated_destinations(destinations2, 4.9))

{'Paris': 4.8, 'Addis Ababa': 4.9}
{}

The error AttributeError: 'dict' object has no attribute 'add' occurs because you are trying to use the .add() method on a dictionary (result). Dictionaries in Python do not have an .add() method. The .add() method is used with sets.

To add a key-value pair to a dictionary, you use the syntax dictionary[key] = value

.get(key, default)

###problem2

For example, if souvenirs is ["hat", "hat", "keychain"], cnt would be Counter({'hat': 2, 'keychain': 1}).
for num in cnt.values():: This loop iterates through the values of the cnt Counter object. The values are the counts of each unique souvenir (e.g., 2 and 1 in the example above)

In [ ]:
from collections import Counter
def unique_souvenir_counts(souvenirs):
  seen_count = set()
  cnt = Counter(souvenirs)
  for num in cnt.values():
    if num in seen_count:
      return False
    seen_count.add(num)
  return True

souvenirs1 = ["keychain", "hat", "hat", "keychain", "keychain", "postcard"]
souvenirs2 = ["postcard", "postcard", "postcard", "postcard"]
souvenirs3 = ["keychain", "magnet", "hat", "candy", "postcard", "stuffed bear"]

print(unique_souvenir_counts(souvenirs1))
print(unique_souvenir_counts(souvenirs2))
print(unique_souvenir_counts(souvenirs3))

True
True
False

In [ ]:
# Creating a set using curly braces {}
my_set = {1, 2, 3, 4, 5}
print(f"Set created with curly braces: {my_set}")

# Creating a set from a list (duplicates are automatically removed)
my_list = [1, 2, 2, 3, 4, 4, 5]
set_from_list = set(my_list)
print(f"Set created from a list: {set_from_list}")

# Trying to add a duplicate element
set_from_list.add(3)
print(f"Set after trying to add a duplicate (3): {set_from_list}")

# Adding a new element
set_from_list.add(6)
print(f"Set after adding a new element (6): {set_from_list}")

# Creating an empty set (important: use set(), not {})
empty_set = set()
print(f"Empty set: {empty_set}")

Set created with curly braces: {1, 2, 3, 4, 5}
Set created from a list: {1, 2, 3, 4, 5}
Set after trying to add a duplicate (3): {1, 2, 3, 4, 5}
Set after adding a new element (6): {1, 2, 3, 4, 5, 6}
Empty set: set()

In [ ]:
# Example of a List
my_list = ["apple", "banana", "cherry", "apple"]
print(f"List: {my_list}")
print(f"Accessing element by index (my_list[1]): {my_list[1]}")
my_list.append("date")
print(f"List after adding an element: {my_list}")

List: ['apple', 'banana', 'cherry', 'apple']
Accessing element by index (my_list[1]): banana
List after adding an element: ['apple', 'banana', 'cherry', 'apple', 'date']

In [ ]:
# Example of a Dictionary
my_dict = {"fruit": "apple", "color": "red", "count": 3}
print(f"Dictionary: {my_dict}")
print(f"Accessing value by key (my_dict['fruit']): {my_dict['fruit']}")
my_dict["taste"] = "sweet"
print(f"Dictionary after adding a key-value pair: {my_dict}")

Dictionary: {'fruit': 'apple', 'color': 'red', 'count': 3}
Accessing value by key (my_dict['fruit']): apple
Dictionary after adding a key-value pair: {'fruit': 'apple', 'color': 'red', 'count': 3, 'taste': 'sweet'}

In [ ]:
# Example of a Set
my_set = {"apple", "banana", "cherry", "apple"} # Duplicates are automatically removed
print(f"Set: {my_set}")
my_set.add("date")
print(f"Set after adding an element: {my_set}")
# Note: You cannot access elements by index in a set
# print(my_set[0]) # This would raise a TypeError

Set: {'cherry', 'banana', 'apple'}
Set after adding an element: {'cherry', 'date', 'banana', 'apple'}

###p3
input: string
output: string
create the dictionary to map

interate trough key and map each letter

interate through message and use the

substitution table to decode each chracter

1) Create a dictionary `substitution_table` to map the letters in `key` to the English alphabet.
2) Iterate through `key` and map each letter to the alphabet if it has not been mapped already.
3) Iterate through `message` and use the substitution table to decode each character.
4) Return the decoded message.
Not correctly handling spaces or missing characters in the substitution table.

In [ ]:
def decode_message(key, message):
  substitution_table ={}
  alphabet ='abcdefghijklmnopqrstuvwxyz'
  used_chars = set()
  index = 0
  for c in key:
    if c.isalpha() and c not in used_chars:
      substitution_table[c] = alphabet[index]
      used_chars.add(c)
      index += 1
      if index == 26:
        break

  decoded_message=[]
  for c in message:
    if c == ' ':
      decoded_message.append(' ')
    else:
      decoded_message.append(substitution_table.get(c))
  return ''.join(decoded_message)
key1 = "the quick brown fox jumps over the lazy dog"
message1 = "vkbs bs t suepuv"

print(decode_message(key1, message1))

key2 = "eljuxhpwnyrdgtqkviszcfmabo"
message2 = "hntu depcte lxejw lxwntu zwx piqfx"

print(decode_message(key2, message2))

this is a secret
find laguna beach behind the grove

###p4

In [ ]:
def find_longest_harmonious_travel_sequence(ratings):
    # Initialize a dictionary to store the frequency of each rating
    frequency = {}

    # Count the occurrences of each rating
    for rating in ratings:
      if rating in frequency:
        frequency[rating] += 1
      else:
        frequency[rating] = 1

    max_length = 0

    # Find the longest harmonious sequence
    for rating in frequency:
        if rating + 1 in frequency:
          max_length = max(max_length, frequency[rating] + frequency[rating + 1])

    return max_length

durations1 = [1, 3, 2, 2, 5, 2, 3, 7]
durations2 = [1, 2, 3, 4]
durations3 = [1, 1, 1, 1]

print(find_longest_harmonious_travel_sequence(durations1))
print(find_longest_harmonious_travel_sequence(durations2))
print(find_longest_harmonious_travel_sequence(durations3))

5
2
0

In [ ]:
# Assuming 'counts' is a list of strings like the one generated in your problem 7
counts = ["123", "34", "8", "34", "01", "001"]

# Method 1: Using a set comprehension
unique_counts_set_comp = {int(count) for count in counts if count}
print(f"Unique counts using set comprehension: {unique_counts_set_comp}")

# Method 2: Iterating and adding to a set
unique_counts_iter = set()
for count in counts:
    if count: # Check if the string is not empty
        unique_counts_iter.add(int(count))
print(f"Unique counts using iteration: {unique_counts_iter}")

# The number of unique counts would then be the length of the set
print(f"Number of unique counts: {len(unique_counts_set_comp)}")